<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>

<h1>Create New User</h1>

<form th:method="POST" th:action="@{/user}" th:object="${user}">
    <div>
        <label for="first_name">Enter name: </label>
        <input type="text" th:field="*{firstName}" id="first_name" placeholder="First Name" required/>
    </div>

    <div>
        <label for="last_name">Enter surname: </label>
        <input type="text" th:field="*{lastName}" id="last_name" placeholder="Last Name" required/>
    </div>

    <div>
        <label for="email">Enter email: </label>
        <input type="email" th:field="*{email}" id="email" placeholder="Email" required/>
    </div>

    <div>
        <input type="submit" value="Create!"/>
    </div>
</form>

</body>
</html>
